<p style="color: green"><%= notice %></p>
<div class="container col-6">
<h1>Watch Lists</h1>

<div id="list-container">
  <% @lists.each do |list| %>
    <div class="card">
      <%= render list %>
      <p><%= list.movies.length %> movies</p>
      <%= link_to "Show this list", list %>
    </div>
  <% end %>
</div>

<%= link_to "New list", new_list_path %>
</div>
